input {
    align-self: center;
    border: none;
    border-bottom: 2px solid rgb(160, 160, 160);
    font-size: 1.2rem;
    height: 15px;
    padding: 10px;
    width: 300px;
}

input:focus {
    outline: none;
}

.container {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.facey {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 3px solid black;
    border-radius: 20px;
    margin: 50px auto;
    transition: 1s ease-in-out;
}

.facey:before {
    content: '';
    position: absolute;
    top: 25%;
    left: 50%;
    width: 4px;
    height: 2px;
    margin-left: -4px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    transition: 1s ease-in-out;
}

.facey:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 5px;
    margin-left: -7px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 0 8px 8px;
    transition: 1s ease-in-out;
}

#facey-text {
    font-size: 2rem;
}

.float-facey {
    animation: float 3s 2;
}

@keyframes float {
    0% {transform: translateY(0px)}
    50% {transform: translateY(-25px)}
    100% {transform: translateY(0px)}
}

.bounce-facey {
    animation: bounce 2s;
}

@keyframes bounce {
    0% {transform: translateY(0px)}
    10% {transform: translateY(-35px)}
    20% {transform: translateY(0px)}
    30% {transform: translateY(-30px)}
    40% {transform: translateY(0px)}
    50% {transform: translateY(-25px)}
    60% {transform: translateY(0px)}
    70% {transform: translateY(-15px)}
    80% {transform: translateY(0px)}
    90% {transform: translateY(-10px)}
    100% {transform: translateY(0px)}
}

.spin-facey {
    animation: spin 1s;
}

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.roll-facey {
    animation: roll 3s;
}

@keyframes roll {
    0% {transform: translate(0, 0) rotateZ(0deg) }
    50% {transform: translate(150px, 0) rotateZ(360deg);}
    100% {transform: translate(0, 0) rotateZ(0deg) }
}

.glow-facey {
    animation: glow 2s 4;
}

@keyframes glow {
    0% {box-shadow: 0 0 0 0 #0ff}
    40% {box-shadow: 0 -5px 20px 5px #0ff}
    100% {box-shadow: 0 0 0 0 #0ff}
}