html, body {
    /* change background color since I removed the image */
    background-color: blueviolet;
    color: white;
    height: 100%;
    margin: 0;
}

.hidden {
    display: none !important;
}

.header-part img {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.header-container {
    position: relative;
    top: 100px;
}

.header-container h1 {
    /* change the color of the header text to make it more readable against the background */
    color: white;
    /* change the font size of the header text to be more readable */
    font-size: 2.7rem;
    text-align: center;
}

.flex-container {
    align-items: center;
    /* make the background color black and reduce the opacity so that the sqaure are a little more visible */
    background-color: rgba(0, 0, 0, 0.651);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.square {
    border: solid white 2px;
    display: inline-block;
    height: 200px;
    /* add a margin between the squares so that they are not lumped together. This also makes it easier to see the outline */
    margin: 10px;
    width: 200px;
}

/* add an outline to the sqaures when they are in focus */
.square:focus {
    outline: 5px solid rgb(0, 225, 255);
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.main-part {
    /* the background was taken from https://uigradients.com/ */
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100%;
    padding: 50px;
}

.main-part button {
    background-color: #F012BE;
    border: solid white 2px;
    display: block;
    font-size: 1.5rem;
    height: 50px;
    margin: auto;
}

.main-part button:focus {
    /* draw outline for the main button when it is in focus */
    outline: 5px solid rgb(0, 225, 255);
}

.main-part .bunny-image {
    display: none;
    margin: 20px auto;
}

.active {
    display: block !important;
}